body, pre, code {
    margin: 0;
}

pre {
    white-space: normal;
}

#main-content {
    width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #666;
}

#article {
    padding: 5px;
}

#article-title {
    text-align: center;
}

#error {
    text-align: center;
    display: block;
    color: #856404;
    background-color: #fff3cd;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: height 3s ease-out
}

#user-list {
    border: #007070 1px solid;
    position: fixed;
    top: 20px;
    right: 50px;
    width: 250px;
}

#user-info {
    text-align: center;
    word-break: break-all;
}

#comment-box {
    display: block;
    width: 520px;
    margin: 0 auto;
}

#comment-box > div {
    width: 700px;
}

#comment-box > div > p {
    text-align: right;
}

.user-header {
    width: 60px;
    height: 60px;
    border: 1px solid #006600;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    text-align: center;
    font-size: 46px;
}

#comment-text {
    display: inline-block;
    width: 600px;
    border: 1px solid #888888;
    border-radius: 5px;
    min-height: 200px;
    padding: 10px;
}

